<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>teamID</key>
	<string>E3GB4PB99C</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>kr.co.wisaweb.sw.wisa.lh</key>
		<string>magicappInhouse</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
</dict>
</plist>
